@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        To our product catalogue for our #1 sold product, Helmets!
    </p>
</div>
<div id="home-image-container">
    <div id="home-motorcycle-img" class="image-wrapper">
        <img src="images/motorcycle_helmet.jpg" alt="Motorcycle Helmet" />
    </div>
    <div id="home-football-img" class="image-wrapper">
        <img src="images/football_helmet.jpg" alt="Football helmet" />
    </div>
    <div id="home-bicycle-img" class="image-wrapper">
        <img src="images/bicycle_helmet.jpg" alt="Bicycle helmet" />
    </div>
</div>
<div id="cta-container">
    <a class="primary-cta" asp-area="" asp-controller="Helmets" asp-action="Index">Product Catalogue</a>
</div>
