@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h3>Who We Are</h3>
<p>
    At Heralds Helmets, we have been your 1 stop shop for all your helmet needs.
    We sell a variety of different kinds of helmets like Motorcycle, Biking,
    and even some sports helmets. We have tons of different in store locations around
    the workd that you can visit, or you can shop online, we ship worldwide!
</p>

<h3>Location</h3>
<p>
    Our main headquarters is located in the heart of Harrow, Ontario. However,
    we have dozens of other locations around the world as well.
</p>

<h3>The Team</h3>
<p>
    The entire company is run by one person, Trevor Slobodnick.
    He even made this website. So cool!
</p>